<div class="container">
    <app-simulador-busqueda></app-simulador-busqueda>
</div>
<!-- <div class="container">
    <mat-card>
        <mat-grid-list cols="2" rowHeight="9:1">
            <mat-grid-tile>
                <h3>Tasa Interes Mensual:</h3>
            </mat-grid-tile>
            <mat-grid-tile>
                <h3>Cuota Mensual:</h3>
            </mat-grid-tile>
          </mat-grid-list>
    </mat-card>
</div> -->
<div class="container">
    <app-simulador-resultado></app-simulador-resultado>
</div>
